body {
    background-color: #ffdc09;
}

.column {
    padding-right: 10px;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
    color: white;
}

ul {
    color: white;
}

.column {
    float: left;
    width: 20%;
    margin-left: 3.5%;
    line-height: 1.5;
    background-color: black;
    border-color: black;
    border-radius: 30px;
    margin-bottom: 5%;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      padding-bottom: 3%;
    }

    h3 {
        font-size: 23px;
    }

    ul {
        font-size: 14px;
    }
  }

  @media screen and (min-width: 651px) and (max-width: 850px) {
    .column {
      width: 45%;
      float: left;
      padding-bottom: 1%;
    }

    h3 {
        font-size: 24px;
    }

    ul {
        font-size: 15px;
    }
  }